body{
  // color:theme-color("secondary");
  background-image: url("../img/nordwood-themes-ivP3TYdLvw0-unsplash.jpg");
  background-position: center center;
  background-size: contain;
  position: relative;
  &::before{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(248, 248, 248, 0.6);
    z-index: -1;
  }
}
.punctuation{
  writing-mode: horizontal-tb;
  line-height: 1;
}

// 如何客製主要背景顏色，bg-主要、bg-次要 ? --已完成
// 主要次要區塊太模糊，login主要區塊會是甚麼? 次要區塊會是甚麼?
// 區塊目的 -> 讓不同 inner-? 識別區塊
// OOCSS  -> bg-? 、btn-大小 、btn-顏色 
// SMACSS -> btn-primary git


// 以前區塊架構
// .primary-block{
//   &__item, &__title{
    
//   }
// }
// .secondary-block{
//   &__item, 
//   &__title{
    
//   }
//   &__text{
    
//   }
// }





