body{
  position: relative;
  &::before{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0;
    background-image: url("../img/nordwood-themes-ivP3TYdLvw0-unsplash-md.jpg");
    background-position: center center;
    background-size: contain;
    z-index: -1;
  }
  &::after{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0;
    background-color: rgba(248, 248, 248, 0.6);
    z-index: -1;
  }
}

// RWD文字大小__標題
@mixin responsiveFontSize__title{
  font-size: 2rem;
  @include media-breakpoint-down(md){
    font-size: 1.6rem;
  }
  @include media-breakpoint-down(sm){
    font-size: 1.8rem;
  }
}

// RWD文字大小__通用文字
@mixin responsiveFontSize__info{
  font-size: 1.3rem;
  @include media-breakpoint-down(md){
    font-size: 1.2rem;
  }
  @include media-breakpoint-down(sm){
    font-size: 1.1rem;
  }
  @include media-breakpoint-down(xs){
    font-size: 1rem;
  }
}


.punctuation{
  writing-mode: horizontal-tb;
}


// 圓形進度條
.progress-round{
  &__list{
    li{
      position: relative;
      width: 15px;
      height: 15px;
      font-size: 10px;
      color:white ;
      border-radius: 50%;
      border: 1px solid theme-color("primary") ;
      background-color: white ;
      box-shadow: 0px 0px  0px 1px white;
      + li{
        &::before{
          position: absolute;
          content:"";
          top: 50%;
          left: -48px;
          width:46px ;
          height: 1px;
          border:1px solid theme-color("secondary");
          background-color: theme-color("secondary");
        }
      }
      &.active{
        ~ li{
          box-shadow: 0px 0px  0px 1px  theme-color("secondary");
          background-color: transparent ;
          &::before{
            background-color: theme-color("secondary");
          }
        }
      }
      &.check{
      border: none;
      color: theme-color("primary") ;
        .fa-check{
          transform: translate(2px,1px);
        }
      }
    }
  }
}



.top{
  position: fixed;
  z-index: 99;
  bottom: 25px;
  right: 25px;
}

// 三角形裝飾
// &::before{
//   position: absolute;
//   content: "";
//   right:0;
//   bottom: -1px;
//   border-left:30px solid  transparent;
//   border-right:30px solid  transparent;
//   border-bottom:30px solid  $active-color;
//   z-index: 99;
// }




