body{
  font-size: 1rem;
  // font-family: $font-family;
  color:theme-color("info");
  background-color:theme-color("light");
}
 

// TODO:如何客製主要背景顏色，bg-主要、bg-次要 
// 主要次要區塊太模糊，login主要區塊會是甚麼? 次要區塊會是甚麼?
// 若社群帳號為主要區塊不就GG了
// 區塊目的 -> 讓不同 inner-? 識別區塊
// OOCSS  -> bg-? 、btn-大小 、btn-顏色 
// SMACSS -> btn-primary 

// TODO:文字大小中斷點如何整合
.primary-block{
  &__item{
    @include responsive__title;
  }
}
.secondary-block{
  &__title{
    @include responsive__title;
  }
  
  &__text{
    @include responsive__text;
  }
}





