$theme-colors: (
  // 甜點
  // "primary":   #3F5D45,
  // "secondary": #EAF0ED,
  // "info":      #8DA291,
  // "submit":    #FFE180,
  // 咖啡豆店
  "primary":   #a55c1b,
  // "secondary":
  "info":      #a18367,
  "submit":    #d6a374,
  // "coffee":    #4d3800 ,
  
);
$font-size:16px;

$font-family-sans-serif:    'Sriracha',  'Noto Sans TC', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
// $font-family-sans-serif:     'Zhi Mang Xing', cursive, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
