// TODO: SASS / CSS 架構管理檢核表 
// 類別階層不超過四層為原則
// 不使用 ID，一律使用 class
// 使用 OOCSS 建立類別工具庫
// 使用 SMACSS 來建立 Sass 結構
// 排版結構以 BEM 來開發
// 導入 BS4 的 Grid System
// 使用 Sass for 來管理擴充元件
// 一率採用小駝峰式命名
// 導入第三方插件在 Sass import vendor
// 使用 REM 單位
// 佈局使用 flexbox 進行元件設計

// TODO:檢視架構與命名
// .inner-banner不同頁面可做圖片設定
// 同一頁面只有一個主要區塊與多個次要區塊
// 區塊在 base.scss預先處理子區域
// 區塊子區域可無限擴增，若重複性高寫在 base.scss
// .innerBanner{
//   &__index{
//       &__list{}
//       &__item{
//         &__link{}
//       }
//   }
//   &__product{}
//   &__cart{}
//   &__about{}
// }
// .innerAbout{
//   .item{
//     &__title{}
//     &__text{}
//     &__img{}
//     &__imgItem-1{}
//     &__imgItem-2{}
//     &__imgItem-2-1{}
//   }
// }
.innerBanner{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  &__index{
    background-image: url("https://bit.ly/2OhbMHr");
    // margin-bottom: 200px;
    margin-bottom: 230px;
    @include media-breakpoint-down(md){
      // margin-bottom: 220px;
      margin-bottom: 250px;
    }
    @include media-breakpoint-down(sm){
      // margin-bottom: 150px;
      margin-bottom: 200px;
    }
    &__title{
      background-color: rgba(0,0,0,0.2);
      border-radius: 50px;
      transform: translateY(50px);
    }
    &__list{
      transform: translateY(85%);
      @include media-breakpoint-down(md){
        transform: translateY(105%);
      }
    }
    &__item{
      //writing-mode也會改變方向軸
      writing-mode:vertical-lr;
      @include responsiveFontSize__title;
      background-size: cover;
      background-position: center center;
      position: relative;
      transition: 0.3s;
      z-index: -1;
      &:nth-child(1){
        background-image: url("https://bit.ly/2zBDAxX");
      }
      &:nth-child(2){
        background-image: url("https://bit.ly/2R5tqwD");
      }
      &:nth-child(3){
        background-image: url("https://bit.ly/2Qodh3Z");
      }
      &__link{
        z-index: 9;
        &:hover{
          color: black;
        }
      }
      &::after{
        position: absolute;
        content: "";
        top: 0;
        left:0;
        bottom: 0;
        right: 0;
        background-color: rgba(255, 255, 255,0.6);
        transition: 0.3s;
      }
      &:hover{
        &::after{
          // background-color: rgba(255, 225, 128,0.5);
          background-color: rgba(253, 11, 11, 0.5);
          // transform: rotate(45deg);
          transform: scale(0.8);
        }
      }
    }
  }
  &__product{
    background-image: url("https://images.unsplash.com/photo-1547549082-6bc09f2049ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80");
    .section__title--after::after{
      background-color:white ;
    }
  }
  &__success{
    background-image: url("https://images.unsplash.com/photo-1547549082-6bc09f2049ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80");
  }
}






.innerProduct{
  margin-bottom: 100px;
  &__item{
    position: relative;
    @include responsiveFontSize__info;
    &::before{
      position: absolute;
      content: "本日精選";
      font-size: 1rem;
      top: 0;
      left: 20px;
      width: 30px;
      padding: 5px;
      color: white;
      background-color: rgba(63, 93, 69,0.8);
      border-radius: 0 0 3px 3px;
    }
  }
  &__coffee{
    color: rgba(32, 22, 3,0.8)	;
    &::before{
      content: "本周咖啡";
      background-color: rgba(32, 22, 3,0.8)	;
    }
  }
} 





.innerAbout{
  // FIXME:若單獨在 inner-about 區塊，secondary-block應該是成為主要區塊
  &__item{
    position: relative;
    margin-top: 100px;
    margin-bottom: 150px;
    background-image:linear-gradient(-120deg,theme-color("secondary") , transparent 50%);
    @include media-breakpoint-down(md){
      writing-mode:horizontal-tb;
      background-color: transparent;
    }
    &:nth-child(2){
      background-image:linear-gradient(-120deg,theme-color("secondary") , transparent 50%);
    }
    &:nth-child(3){
      background-image:linear-gradient(120deg,theme-color("secondary") , transparent 50%);
    }
    &:nth-child(4){
      background-image:linear-gradient(120deg,theme-color("secondary") , transparent 50%);
    }
    &::before{
      position: absolute;
      content: "";
      width: 100%;
      height: 5%;
      top: 0;
      left: 0;
      background-color:theme-color("light") ;
      z-index: -1;
    }
    &::after{
      position: absolute;
      content: "";
      width: 100%;
      height: 5%;
      bottom: 0;
      left: 0;
      background-color:theme-color("light");
      z-index: -1;
    }
    // FIXME:副標題如何獨立出來
    &__title{
      writing-mode:vertical-lr;
      position: relative;
      line-height: 0;
      transform: translateY(-20px);
      @include responsiveFontSize__title;
      @include media-breakpoint-down(sm){
        line-height: 1.2;
        writing-mode:horizontal-tb;
      }
      &__punctuation{
        writing-mode: horizontal-tb;
        line-height: 1;
        &--dash{
          position: relative;
          &::after{
            position: absolute;
            content: "";
            width: 2px;
            height: 50px;
            background-color:theme-color("primary");
            top: 25px;
            left:50%;
            @include media-breakpoint-down(sm){
              width: 50px;
              height: 2px;
              top: 50%;
              left:25px;
              background-color:theme-color("info") ;
            }
          }
        }
      }
    }
    &__text{
      writing-mode:vertical-rl;
      line-height: 2;
      transform: translateY(20px);
      @include responsiveFontSize__info;
      @include media-breakpoint-down(sm){
        writing-mode:horizontal-tb;
        color:theme-color("primary");
        // background-color:rgba(255, 225, 128,0.3);
        background-color:rgba(234, 240, 237,0.7);
        border-radius: 50px 20px 50px 20px;
      }
    }
    // FIXME:圖片需要重新規劃
    &__img{
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      position: absolute;
      width: 450px;
      height: 450px;
      transform: translateY(-10px);
      border-radius: 10px ;
      transition: 0.3s;
      @include media-breakpoint-down(md){
        width: 400px;
        height: 400px;
        transform: translateY(-10px);
      }
      @include media-breakpoint-down(sm){
        width: 370px;
        height: 370px;
        transform: translateY(-20px);
      }
      
    }
    &__imgItem-1{
      background-image: url("https://bit.ly/2xPn7Eq");
      left: 15px;
    }
    &__imgItem-1-1{
      background-image: url("https://bit.ly/2xPn7Eq");
    }
    &__imgItem-2{
      background-image: url("https://bit.ly/2zzAQS4");
      right: 15px;
    }
    &__imgItem-2-1{
      background-image: url("https://bit.ly/2zzAQS4");
    }
    
  }
}








.innerCart{
  &__item{
    align-items:center;
    padding-bottom: 15px;
    + li.innerCart__item {
      padding-top: 15px;
      border-top: 1px solid #dee2e6;
    }
    @include media-breakpoint-down(sm){
      align-items:start;
    }
    &__img{
      width: 200px;
      height: 200px;
      @include media-breakpoint-down(sm){
        width: 130px;
        height: 130px;
      }
    }
  }
}






.innerLogin{
  &__item{
    max-width:345px ;
    // max-height:284px ;
    // height: auto;
    transition: 0.3s;
    &:hover{
      // transform: translateY(-20px);
      .innerLogin__item__title::before,
      .innerLogin__item__title::after{
        opacity: 1;
      }
    }
    &__title{
      position: relative;
      &::before{
        opacity: 0;
        position: absolute;
        content: "";
        width: 35px;
        height: 2px;
        background-color:theme-color("info");
        top: 55%;
        left: 20px;
      }
      &::after{
        opacity: 0;
        position: absolute;
        content: "";
        width: 35px;
        height: 2px;
        background-color: theme-color("info");
        top: 55%;
        right: 20px;
      }
    }
    button[type="submit"]{
      transform: translateY(10px);
    }
    
  }
}






.innerFooter{
  &__logo{
    @include hidden_text(172px,27px,url('../img/logotype-lg-dark.svg'));
  }
}
.navbar-brand{
  @include hidden_text(220px,40px,url('../img/logo-all-dark.svg'));
}


.newYear{
  width: 90px;
  height:90px;
  color: black;
  font-family: 'Zhi Mang Xing', cursive;
  position: relative;
  &__title{
    transform: rotate(180deg);

  }
  &::before{
    position: absolute;
    content: "";
    width: 90px;
    height: 90px;
    background-color: red;
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotate(45deg);


  }
}