// TODO: SASS / CSS 架構管理檢核表 
// 類別階層不超過四層為原則
// 不使用 ID，一律使用 class
// 使用 OOCSS 建立類別工具庫
// 使用 SMACSS 來建立 Sass 結構
// 排版結構以 BEM 來開發
// 導入 BS4 的 Grid System
// 使用 Sass for 來管理擴充元件
// 一率採用小駝峰式命名
// 導入第三方插件在 Sass import vendor
// 使用 REM 單位
// 佈局使用 flexbox 進行元件設計

// TODO:檢視架構與命名
// .inner-banner不同頁面可做圖片設定
// 同一頁面只有一個主要區塊與多個次要區塊
// 區塊在 base.scss預先處理子區域
// 區塊子區域可無限擴增，若重複性高寫在 base.scss

.innerBanner{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  &__index{
    background-image: url("../img/yanapi-senaud-6HR8vpjYUHo-unsplash-md.jpg");
    margin-bottom: 230px;
    @include media-breakpoint-down(md){
      margin-bottom: 250px;
    }
    @include media-breakpoint-down(sm){
      margin-bottom: 200px;
    }
    &__title{
      background-color: rgba(0,0,0,0.2);
      
      transform: translateY(50px);
    }
    &__list{
      transform: translateY(60%);
      @include media-breakpoint-down(md){
        transform: translateY(105%);
      }
    }
    &__item{
      //writing-mode也會改變方向軸
      writing-mode:vertical-lr;
      @include responsiveFontSize__title;
      background-size: cover;
      background-position: center center;
      position: relative;
      border-radius:120px 120px  100px 100px;
      transition: 0.3s;
      &::before{
        position: absolute;
        content: "";
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius:120px 120px  100px 100px;
        // -webkit-filter:blur(1px);
      }

      // Thank you All Author of Unsplash 
      &:nth-child(1){
        &::before{
          background-image: url("../img/tyler-nix-6sfy2ENBODc-unsplash-md.jpg");
        }
      }
      &:nth-child(2){
        &::before{
          // background-image: url("../img/najib-kalil-ys0rBJK-k6Q-unsplash.jpg");
          background-image: url("../img/najib-kalil-ys0rBJK-k6Q-unsplash-md.jpg");
        }
      }
      &:nth-child(3){
        &::before{
          background-image: url("../img/afrah-0x-_TV1zQFU-unsplash-md.jpg");
        }
      }
      &__link{
        z-index: 9;
        color: white;
      }
      &::after{
        position: absolute;
        content: "";
        top: 0;
        left:0;
        bottom: 0;
        right: 0;
        border-radius:120px 120px  100px 100px;
        background-color: rgba(214, 163, 116,0.4);
        transition: 0.3s;
        
      }
      &:hover{
        &::before{
          // -webkit-filter:blur(0px);
          box-shadow:0 0 3px 3px rgba(0, 0, 0,0.3);
        }
        &::after{
          background-color: rgba(255, 255, 255,0.8);
          transform: scale(0.7);
          @include media-breakpoint-down(sm){
          transform: scale(0.85);

          }
        }
      }
    }
  }
  &__product{
    background-image: url("../img/mike-kenneally-TD4DBagg2wE-unsplash-md.jpg");
    
  }
  &__success{
    background-image: url("../img/jessica-lewis-Am2kjOEKADs-unsplash-md.jpg");
  }
}






.innerProduct{
  margin-bottom: 100px;
  &__item{
    position: relative;
    transition: 0.3s;
    // innerProduct__today
    &::before{
      position: absolute;
      content: "本日精選";
      top: 0;
      left: 20px;
      width: 26px;
      padding:5px;
      color: white;
      background-color: rgba(32, 22, 3,0.8);
      border-radius: 0 0 3px 3px;
      @include media-breakpoint-down(sm){
        font-size: 0.8rem;
        width: 19px;
        padding: 3px;
      }
    }
    &:hover{
      box-shadow:0 0 3px 3px rgba(0, 0, 0,0.3);
    }
    &__popularity{
      &::before{
        content: "人氣推薦";
      }
    }
    &__new{
      &::before{
        content: "新品上市";
      }
    }
    &__like{
      position: absolute;
      top: 0;
      right: 0;
      color: theme-color("light");
      &:hover{
        color: red;
      }
    }
  }
} 





.innerAbout{
  &__item{
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
    background-image:linear-gradient(-60deg,theme-color("primary"),rgba(218, 213, 213,0.2),transparent 30%);
    // &:nth-child(2){
    //   background-image:linear-gradient(-60deg,theme-color("primary"),rgba(218, 213, 213,0.2),transparent 30%);
    // }
    &:nth-child(3),&:nth-child(4){
      background-image:linear-gradient(60deg,theme-color("primary"),rgba(218, 213, 213,0.2),transparent 30%);
      .innerAbout__item__img{
        background-image: url("../img/tyler-nix-jE-27l7V3NU-unsplash-md.jpg");
      }
    }
    
    &__title{
      writing-mode:vertical-lr;
      line-height: 0;
      @include responsiveFontSize__title;
      @include media-breakpoint-down(sm){
        z-index: -1;
        line-height: 1.5;
        writing-mode:horizontal-tb;
      }
      &--dash{
        position: relative;
        &::after{
          position: absolute;
          content: "";
          width: 2px;
          height: 50px;
          background-color:theme-color("primary");
          top: 25px;
          left:50%;
          @include media-breakpoint-down(sm){
            width: 50px;
            height: 2px;
            top: 50%;
            left:25px;
            background-color:theme-color("primary") ;
          }
        }
      }
    }
    &__text{
      writing-mode:vertical-rl;
      line-height: 2;
      @include responsiveFontSize__info;
      @include media-breakpoint-down(sm){
        writing-mode:horizontal-tb;
      }
    }
    &__img{
      background-image: url("../img/mike-kenneally-tNALoIZhqVM-unsplash-md.jpg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 100%;
      min-height: 450px;
      border-radius: 10px ;
      border: 1px solid white;
      transition: 0.3s;
      position: relative;
      // @include media-breakpoint-down(sm){
      //   &::after{
      //     position: absolute;
      //     content: "";
      //     background-color: rgba(255,255,255, 0.2);
      //     top: 0;
      //     left: 0;
      //     bottom: 0;
      //     right: 0;
      //     border-radius: 10px;
      //   }
      // }
      
    }
    
  }
}





.innerCart{
  &__item{
    align-items:center;
    padding-bottom: 15px;
    + tr.innerCart__item,+ li.innerCart__item {
      padding-top: 15px;
      border-top: 1px solid #dee2e6;
    }
    
    &__img{
      max-width: 100%;
      height: 90px;
      
    }
  }
}






.innerLogin{
  &__item{
    max-width:345px ;
    // max-height:284px ;
    // height: auto;
    transition: 0.3s;
    &:hover{
      // transform: translateY(-20px);
      .innerLogin__item__title::before,
      .innerLogin__item__title::after{
        opacity: 1;
      }
    }
    &__title{
      position: relative;
      &::before{
        opacity: 0;
        position: absolute;
        content: "";
        width: 35px;
        height: 2px;
        background-color:theme-color("submit");
        top: 55%;
        left: 20px;
      }
      &::after{
        opacity: 0;
        position: absolute;
        content: "";
        width: 35px;
        height: 2px;
        background-color: theme-color("submit");
        top: 55%;
        right: 20px;
      }
    }
    button[type="submit"]{
      transform: translateY(18px);
      // border-top-right-radius:0px ;
      border-radius: 0 0 0 3px;
      @include media-breakpoint-down(sm){
      border-radius: 0 0 3px 3px;

      }
    }
    
  }
}

.btn-submit, .btn-primary{
  border-radius: 0 0 3px 3px;
}

footer{
  .btn-submit{
    border-radius: 0 3px 3px 0;
  }
}



// .innerFooter{
//   &__logo{
//     @include hidden_text(172px,27px,url('../img/logotype-lg-dark.svg'));
//   }
// }
// .navbar-brand{
//   @include hidden_text(220px,40px,url('../img/tina-guina-obV_LM0KjxY-unsplash.jpg'));
// }



