// TODO: SASS / CSS 架構管理檢核表 最少七項，或者自行新增
// 類別階層不超過四層為原則                 -> OK
// 不使用 ID，一律使用 class                -> modal 轉換時需要
// 使用 OOCSS 建立類別工具庫                -> 套用 bootstrap
// 使用 SMACSS 來建立 Sass 結構             -> 套用 bootstrap
// 排版結構以 BEM 來開發                    -> OK
// 導入 BS4 的 Grid System                 -> 套用 bootstrap
// 使用 Sass for 來管理擴充元件 
// 一率採用小駝峰式命名                     -> OK
// 導入第三方插件在 Sass import vendor      -> 套用 bootstrap
// 使用 REM 單位                           -> 文字使用，裝飾類、微調使用px
// 佈局使用 flexbox 進行元件設計            -> OK

// TODO: 寫法說明
// .inner-banner 不同頁面5置換圖片
// 不同大區塊不同名稱，但文字圖片區塊統一命名


.fa-shopping-cart{
  position: relative;
  .badge{
    position: absolute;
    top: -10px;
    right: -10px;
  }
}


.innerBanner{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  &__index{
    background-image: url("../img/yanapi-senaud-6HR8vpjYUHo-unsplash-25.jpg");
    margin-bottom: 230px;
    @include media-breakpoint-down(md){
      margin-bottom: 250px;
    }
    @include media-breakpoint-down(sm){
      margin-bottom: 200px;
    }
    &__title{
      background-color: rgba(0,0,0,0.2);
      
      transform: translateY(50px);
    }
    &__list{
      transform: translateY(60%);
      @include media-breakpoint-down(md){
        transform: translateY(105%);
      }
    }
    &__item{
      //writing-mode也會改變方向軸
      writing-mode:vertical-lr;
      @include responsiveFontSize__title;
      background-size: cover;
      background-position: center center;
      position: relative;
      border-radius:120px 120px  100px 100px;
      transition: 0.3s;
      &::before{
        position: absolute;
        content: "";
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius:120px 120px  100px 100px;
        -webkit-filter:blur(0.8px);
        filter:blur(0.8px);
      }

      // Thank you All Author of Unsplash 
      &:nth-child(1){
        &::before{
          background-image: url("../img/tyler-nix-6sfy2ENBODc-unsplash-25.jpg");
        }
      }
      &:nth-child(2){
        &::before{
          // background-image: url("../img/najib-kalil-ys0rBJK-k6Q-unsplash.jpg");
          background-image: url("../img/najib-kalil-ys0rBJK-k6Q-unsplash-25.jpg");
        }
      }
      &:nth-child(3){
        &::before{
          background-image: url("../img/afrah-0x-_TV1zQFU-unsplash-25.jpg");
        }
      }
      &__link{
        z-index: 9;
        color: white;
      }
      &::after{
        position: absolute;
        content: "";
        top: 0;
        left:0;
        bottom: 0;
        right: 0;
        border-radius:120px 120px  100px 100px;
        background-color: rgba(214, 163, 116,0.4);
        transition: 0.3s;
        
      }
      &:hover{
        .innerBanner__index__item__link{
          color: theme-color("primary");
        }
        &::before{
          -webkit-filter:blur(0px);
          filter:blur(0px);
          box-shadow:0 0 3px 3px rgba(0, 0, 0,0.3);
        }
        &::after{
          background-color: rgba(255, 255, 255,0.8);
        }
      }
    }
  }
  &__product{
    background-image: url("../img/mike-kenneally-TD4DBagg2wE-unsplash-25.jpg");
    
  }
  &__success{
    background-image: url("../img/jessica-lewis-Am2kjOEKADs-unsplash-25.jpg");
  }
}






.innerProduct{
  margin-bottom: 100px;
  &__item{
    position: relative;
    transition: 0.3s;
    // innerProduct__today
    &::before{
      position: absolute;
      content: "本日精選";
      text-align: center;
      width: 28px;
      padding:5px 0px 5px 0px;
      top: 0;
      left: 20px;
      color: white;
      background-color: rgba(32, 22, 3,0.8);
      border-radius: 0 0 3px 3px;
      @include media-breakpoint-down(sm){
        font-size: 0.8rem;
        width: 19px;
        padding: 3px;
      }
    }
    &__active{
      &:hover{
        box-shadow:0 0 2px 2px rgba(0, 0, 0,0.1);
      }
    }
    
    &__popularity{
      &::before{
        content: "人氣推薦";
      }
    }
    &__new{
      &::before{
        content: "新品上市";
      }
    }
    &__like{
      position: absolute;
      top: 5px;
      right: 5px;
      color: theme-color("light");
      &:hover{
        color: theme-color("danger")
      }
      
    }
  }
} 





.innerAbout{
  &__item{
    position: relative;
    background-image:linear-gradient(-60deg,theme-color("primary"),rgba(218, 213, 213,0.2),transparent 30%);
    // &:nth-child(2){
    //   background-image:linear-gradient(-60deg,theme-color("primary"),rgba(218, 213, 213,0.2),transparent 30%);
    // }
    &:nth-child(3),&:nth-child(4){
      background-image:linear-gradient(60deg,theme-color("primary"),rgba(218, 213, 213,0.2),transparent 30%);
      .innerAbout__item__img{
        background-image: url("../img/mike-kenneally-tNALoIZhqVM-unsplash-25.jpg");
      }
    }
    
    &__title{
      writing-mode:vertical-rl;
      -ms-line-height: 1.3;
      line-height: 1.3;
      @include responsiveFontSize__title;
      @include media-breakpoint-down(sm){
        z-index: -1;
        line-height: 1.5;
        writing-mode:horizontal-tb;
      }
      &--dash{
        position: relative;
        &::after{
          position: absolute;
          content: "";
          width: 2px;
          height: 50px;
          background-color:theme-color("primary");
          top: 25px;
          right: 45%;
          @include media-breakpoint-down(sm){
            width: 50px;
            height: 2px;
            top: 50%;
            left:25px;
            background-color:theme-color("primary") ;
          }
        }
      }
    }
    &__text{
      writing-mode:vertical-rl;
      line-height: 2;
      @include responsiveFontSize__info;
      @include media-breakpoint-down(sm){
        writing-mode:horizontal-tb;
      }
    }
    &__img{
      background-image: url("../img/pablo-merchan-montes-SCbq6uKCyMY-unsplash-25.jpg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 100%;
      min-height: 450px;
      border-radius: 10px ;
      border: 1px solid white;
      transition: 0.3s;
      position: relative;
      
      
    }
    
  }
}





.innerCart{
  &__item{
    align-items:center;
    padding-bottom: 15px;
    + tr.innerCart__item,+ li.innerCart__item {
      padding-top: 15px;
      border-top: 1px solid #dee2e6;
    }
    
    &__img{
      max-width: 100%;
      height: 90px;
      
    }
  }
}






.innerLogin{
  &__item{
    max-width:345px ;
    // max-height:284px ;
    // height: auto;
    transition: 0.3s;
    &:hover{
      // transform: translateY(-20px);
      .innerLogin__item__title::before,
      .innerLogin__item__title::after{
        opacity: 1;
      }
    }
    &__title{
      position: relative;
      &::before{
        opacity: 0;
        position: absolute;
        content: "";
        width: 35px;
        height: 2px;
        background-color:theme-color("submit");
        top: 55%;
        left: 20px;
      }
      &::after{
        opacity: 0;
        position: absolute;
        content: "";
        width: 35px;
        height: 2px;
        background-color: theme-color("submit");
        top: 55%;
        right: 20px;
      }
    }
    button[type="submit"]{
      transform: translateY(18px);
      // border-top-right-radius:0px ;
      border-radius: 0 0 0 3px;
      @include media-breakpoint-down(sm){
      border-radius: 0 0 3px 3px;

      }
    }
    
  }
}

.btn-submit, .btn-primary{
  border-radius: 0 0 3px 3px;
}

footer{
  .btn-submit{
    border-radius: 0 3px 3px 0;
  }
}
a[href="mailto:sweetaste@email.com"]{
  transform: translateX(-3px);
}





