// RWD文字大小__標題
@mixin responsiveFontSize__title{
    font-size: 2rem;
    @include media-breakpoint-down(md){
      font-size: 1.6rem;
    }
    @include media-breakpoint-down(sm){
      font-size: 1.8rem;
    }
  }
  
// RWD文字大小__內容文字
@mixin responsiveFontSize__info{
  font-size: 1.3rem;
  @include media-breakpoint-down(md){
    font-size: 1.2rem;
  }
  @include media-breakpoint-down(sm){
    font-size: 1.1rem;
  }
  @include media-breakpoint-down(xs){
    font-size: 1rem;
  }
}
// TODO:不以標籤開頭
a[href="mailto:sweetaste@email.com"]{
  transform: translateX(-3px);
}