// 文字上至下
.writing-htb{
  writing-mode: horizontal-tb;
}
.writing-vrl{
  writing-mode: vertical-rl; 
}
.writing-vlr{
  writing-mode: vertical-lr;
}


.rounded-top-0{
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

