.innerContent {
  &__title {
    line-height: 1.3;
    @include responsiveFontSize__title;
    @include media-breakpoint-down(sm) {
      line-height: 1.5;
    }
    &--dash {
      position: relative;
      &::after {
        position: absolute;
        content: "";
        width: 2px;
        height: 50px;
        background-color: theme-color("primary");
        top: 25px;
        right: 45%;
        @include media-breakpoint-down(sm) {
          width: 50px;
          height: 2px;
          top: 50%;
          left: 25px;
          background-color: theme-color("primary");
        }
      }
    }
  }
  &__text {
    line-height: 2;
    @include responsiveFontSize__info;
  }
  
  &__index {
    &__item {
      position: relative;
      border-radius: 0 30px 30px 0;
      background-image: linear-gradient(-60deg, theme-color("primary"), rgba(218, 213, 213, 0.2), transparent 30%);
      // &:nth-child(2){
      //   background-image:linear-gradient(-60deg,theme-color("primary"),rgba(218, 213, 213,0.2),transparent 30%);
      // }
      &:nth-child(3), &:nth-child(4) {
        border-radius: 30px 0 0 30px;
        background-image: linear-gradient(60deg, theme-color("primary"), rgba(218, 213, 213, 0.2), transparent 30%);
        .innerContent__index__item__img {
          background-image: url("../img/mike-kenneally-tNALoIZhqVM-unsplash-25.jpg");
        }
      }
      
      &__img {
        background-image: url("../img/pablo-merchan-montes-SCbq6uKCyMY-unsplash-25.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 100%;
        min-height: 450px;
        border-radius: 10px;
        border: 1px solid white;
        transition: 0.3s;
        position: relative;
      }
    }
  }
}
